/**
* add Custom style here
*
*/
.charts
{
    /*display: none ;*/
    visibility: hidden;
   
    
}
.show{
    /*display: block !important;*/
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

h1,h2,h3,h4,h5,span,p,body,.gm-style {
    font-family: 'Gotham', sans-serif;
}

.danger
{
    background-color:#d7153a;
}
.good
{
    background-color:#0a7cb9;
}

.jumbotron
{
    background-color: #F4F7F9;
    color: #002664;
}

.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 1rem;
}

@font-face {
  font-family: 'Gotham';
  src: url("./fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("./fonts/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

#container2 {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
